body {
  background: #f3f3f3;
  font-family: "Architects Daughter", cursive;
  padding: 20px;
  height: 100vh;
}
button {
  padding: 5px 10px;
  background: rgb(192, 212, 212);
}
.theList {
  margin-top: 30px;
  padding: 20px;
  border-style: outset;
  /* display: flex; */
  /* flex-wrap: wrap; */
}
.newTask,
.task {
  margin: 10px;
  padding: 10px;
  border: 1px solid lightgrey;
  /* text-align: center; */
  /* min-height: 100px; */
  /* display: flex; */
  /* align-items: center; */
  /* flex-direction: column; */
}

input[type="text"] {
  padding: 4px;
}
.taskContent,
.editField {
  margin-bottom: 1rem;
  overflow-wrap: normal;
}
.input-container {
  margin-top: 1rem;
}

[data-completed="true"] {
  text-decoration: line-through grey;
}
